.navbar {
  border: 0;
}


.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
/* 
 làm rộng menu nav
.navbar-nav {
  margin: 6px -15px;
}
*/


@media only screen and (min-width: 768px) {


 
   
}

.navbar-material-blue {
  background-color: #fff;
}


.navbar-material-blue .navbar-nav > li > a {
  color: #000;
  font-size: 15px;
  padding-top: 25px;
}
.navbar-material-blue .navbar-nav > li > a:hover,
.navbar-material-blue .navbar-nav > li > a:focus {
  background-color: #fff;
  color: #00c5d6;
}
.navbar-material-blue .navbar-nav > .active > a,
.navbar-material-blue .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #5cb85c;
}
.navbar-material-blue .navbar-nav > .active > a:hover{
    color: #ffffff;
  background-color: #5cb85c;
}

.navbar-material-blue .navbar-toggle {
  border-color: transparent;
}
.navbar-material-blue .navbar-toggle:hover,
.navbar-material-blue .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-material-blue .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-material-blue .navbar-collapse
{
  background-color: #fff;
}
.navbar-material-blue .navbar-nav > .open > a,
.navbar-material-blue .navbar-nav > .open > a:hover,
.navbar-material-blue .navbar-nav > .open > a:focus {
  background-color: #fff;
  color: #000;
}

